# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit cache
.streamlit/

# VS Code settings
.vscode/

# MacOS / Windows system files
.DS_Store
Thumbs.db

# PDF or sample uploads
*.pdf
uploads/
*.log

# Python environment files
*.egg-info/
*.egg
*.pyo

# Dependency cache
pip-wheel-metadata/
*.whl
.env